@import '../../styles/colors.css';

.header {
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: var(--secondary-bg-color);
  display: flex;
  padding: 10px;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 80px;
  text-align: center;
  font-variant: small-caps;
  color: var(--logo-bg-color);
  text-decoration: none;
  cursor: pointer;
}

.wrapper__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-button {
  /* display: block; */
  padding: 25px;
  /* color: var(--logo-bg-color); */
  /* text-decoration: none; */
  /* border: none; */
  /* background-color: var(--main-bg-color); */
  /* border-radius: 5px; */
  /* font-size: 20px; */
  /* text-align: center; */
  /* cursor: pointer; */
}

@media (max-width: 600px) {
  .auth-button {
    padding: 15px;
    font-size: 17px;
  }
  
  .wrapper__logo {
    font-size: 60px;
  }
}

@media (max-width: 460px) {
  .auth-button {
    padding: 10px;
    font-size: 13px;
  }
  .wrapper__logo {
    font-size: 40px;
  }
}

.auth-button:nth-child(n + 2) {
  margin: 0 0 0 10px;
}
