* {
  padding: 0;
  margin: 0;
}
.main__wrapper{
  display:flex;
  flex-direction: column;

}
html, body{
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
  justify-content: space-between;
  width: 100%;    
  margin-bottom: 3px;
  background-color:forestgreen;
  display: flex;
  padding: 10px;
}


.wrapper__logo {
  width: 300px;
  padding: 20px;
  font-size: 80px;
  font-variant: small-caps;
  color:  rgb(238, 238, 238); 
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;

}


.wrapper__auth{
  display:flex;
  flex-direction: row;
  justify-content: end;
}

.auth_buttons{
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  padding: 10px;
}

.counter__container, .filter__container, .collection__container {
  display: flex;



}
.container__task {
  display: flex;


}

.counter{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  
  margin: 0px 0px 10px 0px; 
  border: 1px solid darkgreen;
  background: rgb(199, 238, 199);

  box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -moz-box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -webkit-box-shadow: inset 0px 0px 15px rgb(199, 238, 199);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper__buttons {
  display: flex;
  flex-direction: row-reverse;  
  
}


.wrapper__counter, .wrapper__collect {
  display: inline-flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 20px;
}


.output__field, .prior {
  height: 30px;
  width: 30px; 
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: azure;
}

.counter__title, .filter__title, .collect__title{
  display: flex;
  justify-content: center;
  color:darkgreen;
}


.wrapper__counter_completed, .wrapper__counter_remaining, .wrapper__output_count, .wrapper__time {
  color:darkgreen;
}

.filter{
  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  
  margin: 0 0 10px 0; 
  border: 1px solid rgb(6, 68, 6); 
  background: rgb(199, 238, 199);
  
  box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -moz-box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -webkit-box-shadow: inset 0px 0px 15px rgb(199, 238, 199);
}

.tagfilter__title{
  display: flex;
  justify-content: center;
  color:darkgreen;
  margin: 10px 0;
}

.radio__wrapper {
  font-size: 14px;
  margin: 3px 3px 10px 3px;
}

.wrapper__filter{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.collection{
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;

  border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  
  margin: 0 0px 10px 0px; 
  
  border: 1px solid darkgreen;
  
  background: rgb(199, 238, 199);
  
  box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -moz-box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -webkit-box-shadow: inset 0px 0px 15px rgb(199, 238, 199);
}

.pets__wrapper {
  width: 80px;
  display: block;
  float: left;
}


.pets {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: 0 5px 0 0;
  height: 70px;
  
}

.task{
  display: flex;
  flex-direction: column;

  border-radius: 10px; 
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 

  border: 1px solid darkgreen;
  
  background: rgb(199, 238, 199);
  
  box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -moz-box-shadow: inset 0px 0px 15px rgb(199, 238, 199); 
  -webkit-box-shadow: inset 0px 0px 15px rgb(199, 238, 199);
}

.create_task__title {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:darkgreen;
}


.create__task {
  display: flex;
  direction: row;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0);
  padding: 20px;
  background-color: rgb(120, 192, 120);
}

.time__task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; 

}

.wrapper__time, .wrapper__prior{
  font-size: 20px;
  padding: 3px; 
  color: darkgreen;

}

.button, .button__create {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: darkgreen;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.button:nth-child(n + 1) {
  margin: 0 0 0 10px;
}

textarea{
  width: 320px;
  height: 100px;
  resize: none;
}

.button__column{
  display: flex;
  justify-content: flex-end;
 
}

.general__wrapper, .general1__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  

}

.new__task__wrapper{
  display: flex;
  flex-direction: column;
}

.create__task__wrapper{
  display: flex; 
  flex-direction: column;
}

.general__task__wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (max-width: 1325px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 710px) {
  .general__wrapper {
    flex-direction: column;
  }

  .button__column {
    flex-direction: row;
    margin: 10px 0 0 0;
    justify-content: unset;
  }
}

@media (max-width: 540px){
  .wrapper__logo a{
    font-size: 45px;
  }
  .main{
    width: 100%;
  }
  .general__wrapper {
    flex-direction: column;
  }
  .create__task{
    flex-direction: column;
    align-items: center;
  }
  .time__task{
    width: 100%;
  }

}

@media (max-width: 489px) {

  .wrapper__logo a{
    font-size: 35px;
   }
   .general__task__wrapper{
     width: 50%;
   }
   .main__wrapper{
    width: 50%;
   }
  .create_task__title, .counter__title, .filter__title, .collect__title{
    font-size: 20px;
  }
}

@media (max-width: 456px){
  .wrapper__logo a{
    font-size: 20px;
   }
  .general__task__wrapper{
    width: 50%;
  }
  .filter{
    width: 100%;
    align-items:center;
    
  }
  .main__wrapper{
   width: 50%;
  }
  .create_task__title, .counter__title, .filter__title, .collect__title{
    font-size: 15px;
  }
  .button{
    font-size: 10px;
    padding: 5;
  }
  .wrapper__filter{
    display: flex;
  align-items: center;
  }
  .wrapper, .wrapper__filter, .general__wrapper{
    flex-direction: column;
  }
  textarea{
    width: 100%;
  }
}