@import '../../../styles/colors.css';

.general-task-wrapper {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--main-bg-color);
  margin: 10px 0;
}

.new-task {
  display: flex;
  flex-direction: column;
}

.general-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 430px) {
  .general-task-wrapper {
    justify-content: unset;
  }
}

@media (max-width: 710px) {
  .general-wrapper {
    flex-direction: column;
  }
}