@import '../../styles/colors.css';

.title {
  display: flex;
  justify-content: center;
  color: var(--main-bg-color);
  margin: 10px 0;
}

.info-container {
  display: flex;
}

.info-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid var(--main-bg-color);
  background: var(--shadow-light-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper__filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 100px));
  grid-gap: 5px;
  justify-content: center;
}
